.clients-section {
    padding: 60px 0;
    background: url(/assets/images/fz-client-bg.png) no-repeat center center;
    background-size: cover;
    isolation: isolate;

    @include md {
        padding: 40px 0;
    }

    .clients {
        display: flex;
        justify-content: space-between;

        img {
            width: 103px;
            margin: auto;
            height: 100px;
            object-fit: contain;

            @include xxs {
                width: 70px;
            }
        }
    }
}

// INDEX-3 BRANDS SECTION
.fz-1-brands-section {
    background: none;

    @include xl {
        padding: 30px 0;
    }

    .fz-1-section-heading {
        text-align: left;
        border-bottom: 1px solid rgb(0 0 0 / 10%);
        padding-bottom: 10px;
    }

    .fz-1-brands {
        a {
            display: block;
            margin: auto;
            width: fit-content;

            img {
                width: 100px;
                aspect-ratio: 1;
                object-fit: contain;

                @include xxs {
                    width: 60px;
                }
            }
        }
    }
}

.fz-4-brands {
    background: var(--clr-gray-soft);
    border-radius: 10px;
    padding: 55px 0;

    @include md {
        padding: 20px 10px;
    }

    .owl-item {
        height: 66px;

        @include md {
            height: 37px;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include md {
            padding: 0 7px;
        }

        img {
            width: auto !important;
            height: auto !important;

            @include md {
                max-height: 37px;
            }
        }
    }
}

.fz-5-brands {
    .owl-item {
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        max-height: 100% !important;
    }
}